@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">

        <form class="searchForm" action="">
            <input 
                   type="text" 
                   placeholder="Sök schema efter kursnamn eller kurskod.." 
                   name="searchBar"
                   id="searchBar"
             />

            <button 
                    type ="button"
                    onclick="sendValue()"
                    id="ajaxCall">
             
             <i class="fa fa-search"></i>  
            </button>
        </form>
    </div>
