@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">

        <form class="searchForm" action="ändrahär">
            <input type="text" placeholder="Sök schema efter kursnamn eller kurskod.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>
