
@using Assignment4.Models;
@using Assignment4.Controllers;
@{
    ViewData["Title"] = "D0031N - SOA";
}


<!--Sökbar-->
<div class="text-center">
    <form class="searchForm" action="">
        <input type="text"
               placeholder="Sök kurskod... (ex. D0031N)"
               name="searchBar"
               id="searchBar" />

        <button type="button"
                onclick="getValues()"
                id="ajaxCall">

            <i class="fa fa-search"></i>
        </button>
    </form>
</div>

<!--Datum-input-->
<div class="pt-2">
    <label>Från: </label>
    <input type="date" id="startDate"
           min="2015-01-01" max="2030-12-31">
    <label>Till: </label>
    <input type="date" id="endDate"
           min="2015-01-01" max="2030-12-31">
</div>

<!--Felhantering-->
<div class="m-0" id="userMessage">

</div>

<!--Schematabell-->
<div id="tableContainer">

</div>

<!--Pop up-->
<div id="modalContainer">

</div>



